

table{
    width: 50%;
}

td{
    /* width: 10%; */
    height: 40px;
}

th{
    /* width: 10%; */
    height: 40px;
}

td:hover{
    background-color:lightblue;
}

.container{
    border: 2px solid beige;
    background-color: beige;
    border-radius: 10px;
    width: 80%;
    height: 850px;
    margin-left: 145px;
    margin-right: 30px;

} 

.head{
    margin-left: 470px;
    

}

.part1{
    /* border: 2px solid black; */
    display: flex;
    margin-top: 50px;
    gap: 30px;
    margin-left: 50px;
}

.science{
    border: 2px solid black;
    border-radius: 10px;
    width: 30%;
    height: 200px;

}

.maths{
    border: 2px solid black;
    border-radius: 10px;
    width: 30%;
    height: 200px;

}

.arts{
    border: 2px solid black;
    border-radius: 10px;
    width: 30%;
    height: 200px;
    
}

.part2{
    /* border: 2px solid black; */
    display: flex;
    margin-top: 50px;
    gap: 30px;
    margin-left: 50px;
}

.social{
    border: 2px solid black;
    border-radius: 10px;
    width: 30%;
    height: 200px;

}

.hindi{
    border: 2px solid black;
    border-radius: 10px;
    width: 30%;
    height: 200px;

}

.english{
    border: 2px solid black;
    border-radius: 10px;
    width: 30%;
    height: 200px;

}

.part3{
    /* border: 2px solid black; */
    display: flex;
    margin-top: 50px;
    gap: 30px;
    margin-left: 50px;
}

.sports{
    border: 2px solid black;
    border-radius: 10px;
    width: 30%;
    height: 200px;

}

.project{
    border: 2px solid black;
    border-radius: 10px;
    width: 30%;
    height: 200px;

}

h2{
    margin-left: 30px;
}

h4{
    margin-left: 30px;
}

