body {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    /* height: 80vh; */
    border: 2px solid black;
}

td, th {
    border: 2px solid black;
    padding: 22px;
    width: 400px;
}

th {
    font-size: 42px;
}

td {
    text-align: center;
    font-size: 36px;
    cursor: pointer;
    transition: 200ms;
}

td:hover {
    scale: 1.05;
    background-color: #242424;
    color: gainsboro;
}