body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.timetable {
    width: 100%;
    border-collapse: collapse;
}

.timetable th, .timetable td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    
}

.timetable th {
    background-color: rgb(47, 0, 255);
    color: white;
}

.lunch-row {
    
    font-weight: bold;
}

.timetable a {
    text-decoration: none;
    color: #333;
}

.timetable a:hover {
    color: #e01d1d;
    text-decoration: underline;
}

tbody td:hover{
    color: blue;
}
