*{
    padding: 0;
}

th{
    height:30px;
    width: 150px;
}

td {
    height:80px;
    width: 150px;
}

/* TABLE INSIDE CELL */
.child{
    width:100%;
    padding: 0;
    border-collapse: collapse;
}

.child td{
    font-size: 0.8rem;
    width: 100%;
    height:25px;
}

/* ANCHOR TAGS */
a{
    text-decoration: none;
    color: black;
}

a:hover{    
    color:red;  
    text-decoration: underline;
}

a:visited{
    color: none;
    
}

span{
    font-size: 80px;
}