*{
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, rgba(22, 21, 21), rgb(56, 55, 55));
}

.box{
    width:500px;
    height: 500px;
    border: 2px solid black;
    display: flex;
    background-color: rgb(240, 236, 236);
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
}

.info{
    font-size : 20px;
}
.photo{ 
    width: 150px;
    height: 150px;
    border: 1px solid black;
    margin-left:0 ;
    display: flex;
    justify-content: center;
    align-items: center;
}