table{
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

table, td, tr, th{
    border: 1px solid black;
}

th,td{
    padding: 10px;
}

a{
    text-decoration: none;
    color: black;
}

a:visited{
    color: black;
}

a:hover{
    color: black;
}

button{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}